<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Higher Me</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta property="og:title" content="Higher Me">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Higher Me web app that helps match you to better jobs.">
    <!--<meta property="og:image" content="/img/CloudPlatform_logo.png">-->
    <meta property="og:site_name" content="Higher Me - Find a Better Job">

    <script>
        /**
         * Initializes the Google API JavaScript client. Bootstrap the angular module after loading the Google libraries
         * so that Google JavaScript library ready in the angular modules.
         */
        function init() {
            gapi.client.load('higherme', 'v1', null, '//' + window.location.host + '/_ah/api');
            gapi.client.load('oauth2', 'v2', function () {
                angular.bootstrap(document, ['higherMeApp']);
            });
        };
    </script>
    <script src="//apis.google.com/js/client:plusone.js?onload=init"></script>
</head>

<body>
    <p>Testing</p>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- TODO: change to minified version (angular.min.js) -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.0/select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.js"></script>
</body>
</html>
